.footer {
  max-width: 1300px;
  min-height: 60px;
  background: #213B7E;
  margin-top: 32px;
}
  
.footer_text {
  margin: 0;
  padding-top: 18px;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}
  
.footer_text_first {
  padding: 0;
}
  